#Ignore the logs directory
logs/

#Ignoring the password file
.envs/*

#Ignoring git and cache folders
.git
.cache
.venv
.env
pytest_cache
mypy_cache
__pycache__
#Ignoring all the markdown and class files
*.md

#Ignoring database
.sqlite3
