[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "*"
django-environ = "*"
django-extensions = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-spectacular = "*"
psycopg2-binary = "*"
werkzeug = "*"

[dev-packages]
black = "*"
coverage = "*"
factory-boy = "*"
faker = "*"
flake8 = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-mock = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.11"
